@model IEnumerable<Inventario.ViewModels.ItemInStock>
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Subtitle"]</h3>
<hr />

<h4>
    <a class="badge badge-info" asp-action="Budget">@Html.ViewData["Label"]</a> &gt;
    <a class="badge badge-info" asp-action="ItemType" asp-route-prodName="@Html.ViewData["Item"]">@Html.ViewData["Item"]</a>

</h4>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Nuevo</a>
</p>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ItemName)</td>
                <td><a asp-action="ItemSize" asp-controller="Stocks" asp-route-prodName="@item.ItemName" asp-route-prodType="@item.ItemTypeName">@Html.DisplayFor(modelItem => item.ItemTypeName)</a> </td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.Weight)</td>

            </tr>

        }
    </tbody>

    <tfoot>

    </tfoot>
</table>
