@model IEnumerable<Inventario.Models.ItemType>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Subtitle"]</h3>
<hr/>
<p>
    <a class="btn btn-outline-success" asp-action="Save">Nuevo</a>
</p>
<table id="itemTypes" class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            @if (User.IsInRole("Administrador"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th></th>
            }
            </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @if (User.IsInRole("Administrador"))
            {
                <td>
                    @Html.ActionLink(item.Name, "Details", "ItemTypes", new { id = item.Id })
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            }

            @if (User.IsInRole("Administrador"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    <div class="btn-group-sm">
                        <a class="btn btn-outline-primary" asp-action="Save" asp-route-id="@item.Id">Modificar</a>
                        <button type="submit" data-id="@item.Id" class="btn btn-outline-danger js-delete">Eliminar</button>
                    </div>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#itemTypes').DataTable({
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                buttons: [{
                    extend: 'excel',
                    text: 'Excel',
                    className: 'exportExcel',
                    filename: 'Tazabilidad',
                    exportOptions: { modifier: { page: 'all' } }
                },
                {
                    extend: 'csv',
                    text: 'CSV',
                    className: 'exportExcel',
                    filename: 'Tazabilidad',
                    exportOptions: { modifier: { page: 'all' } }
                }
                ]
            });
            $('#itemTypes').on('click', '.js-delete', function () {
                var button = $(this);
                bootbox.confirm("¿Está seguro que desea borrar este elemento?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '/ItemTypes/Delete/' + button.attr('data-id'),
                            method: "POST",
                            success: function () {
                                button.parents("tr").remove();
                                toastr.success("El elemento eliminó con éxito", "Listo!")
                            },
                            error: function () {
                                toastr.error("No se pudo eliminar la especie", "Error")
                            }
                        });
                    }
                });
            });
        });
    </script>
}