@model IEnumerable<Inventario.ViewModels.UserViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="bg-info text-white">@ViewData["Title"]</h1>
<h3>@ViewData["Subtitle"]</h3>
<hr />
<p>
    <a class="btn btn-outline-success" asp-area="Identity" asp-page="/Account/Register">Nuevo</a>
</p>
<table id="users" class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolesNames)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Admin" asp-action="Details" asp-route-id="@item.User.Id">@item.User.FullName</a>
                </td>
                <td>
                    <ul>
                        @foreach (var role in item.RolesNames)
                        {
                            <li>
                                @Html.DisplayFor(modelItem => role)
                            </li>
                        }
                    </ul>

                </td>

                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#users").DataTable();
            $('#users').on('click', '.js-delete', function () {
                var button = $(this); bs - thumbnailbs - thumbnailbs - thumbnailbs - thumbnailbs - thumbnail
                bootbox.confirm("¿Está seguro que desea borrar este elemento?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '/Role/Delete/' + button.attr('data-id'),
                            method: "POST",
                            success: function () {
                                button.parents("tr").remove();
                                toastr.success("El elemento eliminó con éxito", "Listo!")
                            },
                            error: function () {
                                toastr.error("No se pudo eliminar la especie", "Error")
                            }
                        });
                    }
                });
            });
        });
    </script>
}